@model IEnumerable<OrdenesServicio_WebApp.Models.OrdenesServicio>

@{
    ViewBag.Title = "Lista de ordenes de compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<div class="card-body table-responsive p-0" style="height: 300px;">
    <table class="table table-head-fixed table-hover text-nowrap">
        <tr>
            <th>Fecha:</th>
            <th>Instalación</th>
            <th>Mantenimiento</th>
            <th>Revisión</th>
            <th>Preparación</th>
            <th>Garantía</th>
            <th>Poliza</th>
            <th>Configuración</th>
            <th>Capacitación</th>
            <th>Usuario</th>
            <th>Empresa</th>
            <th>Teléfono/Celular</th>
            <th>Área</th>
            <th>Sucursal</th>
            <th>Email</th>
            <th>Requerimiento</th>
            <th>Acciones</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instalacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mantenimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Revision)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reparacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Garantia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Poliza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Configuracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacitacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelCel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sucursal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Requerimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Acciones)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdFolio }, new { @class = "btn btn-warning pull-right btn-sm" })
                    @Html.ActionLink("Details", "Details", new { id = item.IdFolio }, new { @class = "btn btn-primary pull-right btn-sm" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdFolio }, new { @class = "btn btn-danger pull-right btn-sm" })

                    @*
                    @Html.ActionLink("Editar", "Edit", new { id = item.NoRequisicion }, new { @class = "btn btn-warning pull-right btn-sm" })
                    @Html.ActionLink("Detalles", "Details", new { id = item.NoRequisicion }, new { @class = "btn btn-primary pull-right btn-sm" })
                    @Html.ActionLink("Borrar", "Delete", new { id = item.NoRequisicion }, new { @class = "btn btn-danger pull-right btn-sm" })
                    *@
                </td>
            </tr>
        }

    </table>
</div>