@model IEnumerable<OrdenesServicio_WebApp.Models.OrdenesServicio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

@*Encabezado de la tabla*@
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Ordenes de servicio </h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Tabla*@
<div class="card-body table-responsive p-0" style="height: 400px;">
    <table class="table table-head-fixed table-hover text-nowrap">
        <thead>
            <tr>
                <th>Folio</th>
                <th>Fecha</th>
                <th>Instalación</th>
                <th>Mantenimiento</th>
                <th>Revisión</th>
                <th>Reparación</th>
                <th>Garantía</th>
                <th>Poliza</th>
                <th>Configuración</th>
                <th>Capacitación</th>
                <th>Usuario</th>
                <th>Empresa</th>
                <th>Teléfono/Celular</th>
                <th>Área</th>
                <th>Sucursal</th>
                <th>Email</th>
                <th>Requerimiento</th>
                <th>Acciones</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdFolio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instalacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mantenimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Revision)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reparacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Garantia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Poliza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Configuracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacitacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefonoCelular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sucursal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Requerimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Acciones)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdFolio }, new { @class = "btn btn-warning pull-right btn-sm" })
                    @Html.ActionLink("Details", "Details", new { id = item.IdFolio }, new { @class = "btn btn-primary pull-right btn-sm" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdFolio }, new { @class = "btn btn-danger pull-right btn-sm" })
                </td>
            </tr>
        }

    </table>
</div>