@model IEnumerable<OrdenesServicio_WebApp.Models.OrdenesServicio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instalacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mantenimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Revision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reparacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Garantia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poliza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Configuracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoCelular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Requerimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instalacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mantenimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Revision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reparacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Garantia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poliza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Configuracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoCelular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sucursal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Requerimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acciones)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdFolio }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdFolio }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdFolio })
        </td>
    </tr>
}

</table>
