@model OrdenesServicio_WebApp.Models.OrdenesServicio

@{
    ViewBag.Title = "Ordenes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (ViewBag.msj != null)
    {
        switch (ViewBag.msj)
        {
            case "Guardado":
                <script>alert('Guardado con exito');</script>
                break;

                @*case "Eliminado":
                        <script>alert('Eliminado con exito')</script>
                        break;

                    case "Modificado":
                        <script>alert('Editado con exito')</script>
                        break;*@
        }
    }
}



<script>
    $(document).ready(function () {
        $("#btnNuevo").on("click", function () {
            $("#Guardar").show();
        });
    });
</script>

@*Formulario para ingresar los datos de la orden*@
@using (Html.BeginForm("Ordenes", "Ordenes", FormMethod.Post, htmlAttributes: new { id = "form1" }))
{
    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <label>Fecha</label>
                @Html.TextBoxFor(x => x.Fecha, htmlAttributes: new { @class = "form-control", id = "fecha" })<br>
            </div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col">
                <label>Usuario</label>
                @Html.TextBoxFor(x => x.Usuario, htmlAttributes: new { @class = "form-control", id = "usuario" })<br>
            </div>
            <div class="col">
                <label>Área</label>
                @Html.TextBoxFor(x => x.Area, htmlAttributes: new { @class = "form-control", id = "area" })<br>
            </div>
            <div class="col">
                <label>Empresa</label>
                @Html.TextBoxFor(x => x.Empresa, htmlAttributes: new { @class = "form-control", id = "empresa" })<br>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label>Sucursal</label>
                @Html.TextBoxFor(x => x.Sucursal, htmlAttributes: new { @class = "form-control", id = "sucursal" })<br>
            </div>
            <div class="col">
                <label>Teléfono</label>
                @Html.TextBoxFor(x => x.TelCel, htmlAttributes: new { @class = "form-control", id = "telefono" })<br>
            </div>
            <div class="col">
                <label>Email</label>
                @Html.TextBoxFor(x => x.Email, htmlAttributes: new { @class = "form-control", id = "email" })<br>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <label>Requerimiento</label>
                @Html.TextBoxFor(x => x.Requerimiento, htmlAttributes: new { @class = "form-control", id = "requerimiento" })<br>
            </div>
            <div class="col">
                <label>Acciones</label>
                @Html.TextBoxFor(x => x.Acciones, htmlAttributes: new { @class = "form-control", id = "acciones" })<br>
            </div>
        </div>
    </div>

    <p>
        @*Nueva orden*@
        <input type="submit" onclick="" name="boton" value="Guardar" id="Guardar" class="btn btn-success" />
    </p>
 }



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Agregar producto
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>