@model OrdenesServicio_WebApp.Models.Equipos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Equipos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Equipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenesServicio.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdenesServicio.Usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdEquipo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
