@model IEnumerable<OrdenesServicio_WebApp.Models.Equipos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

@*Encabezado de la tabla*@
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Ordenes de servicio </h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Esta es la tabla como tal*@
<div class="card-body table-responsive p-0" style="height: 400px;">
    <table class="table table-head-fixed table-hover text-nowrap">
        <thead>
            <tr>
                <th>Id</th>
                <th>Equipo</th>
                <th>Modelo</th>
                <th>Serie</th>
                <th>Id Orden de servicio</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEquipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Serie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fk_Folio)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdEquipo }, new { @class = "btn btn-warning pull-right btn-sm" })
                    @Html.ActionLink("Details", "Details", new { id = item.IdEquipo }, new { @class = "btn btn-primary pull-right btn-sm" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdEquipo }, new { @class = "btn btn-danger pull-right btn-sm" })
                </td>
            </tr>
        }

    </table>
</div>